* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html {
  font-size: 62.5%;
}

/*? base style */

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  /* min-width: 32rem; */
  min-height: 100vh;
  background-color: var(--dark-color);
}

h1 {
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

p,
li,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 140rem;
  padding: 4rem 2.4rem;
  margin: 0 auto;
  color: var(--btn-color);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
